<!-- For some reason partials don't work very well wil tailwind daisyui components -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet">
    <title>BeyondRealms Travel</title>
</head>